@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
/*Theme Colors*/

/*******************
 income of the year
*******************/
.slimscrollcountry {
  height: 280px;
  position: relative;
  overflow: auto; }
